# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.idea/.gitignore
/.idea/.name
/Src/cmake-build-debug/.ninja_deps
/Src/cmake-build-debug/.ninja_log
/Src/cmake-build-debug/build.ninja
/Src/cmake-build-debug/.cmake/api/v1/query/cache-v2
/Src/cmake-build-debug/.cmake/api/v1/reply/cache-v2-fc04371490434d39b161.json
/Src/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/Src/cmake-build-debug/CMakeFiles/clion-environment.txt
/Src/cmake-build-debug/CMakeFiles/cmake.check_cache
/Src/cmake-build-debug/cmake_install.cmake
/Src/cmake-build-debug/CMakeCache.txt
/Src/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
/Src/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
/Src/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/Src/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
/Src/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/Src/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-b0302b8879db9951cf9e.json
/Src/cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
/Src/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
/Src/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/Src/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-7d67432ec61e7809cdc2.json
/Src/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/Src/cmake-build-debug/.cmake/api/v1/reply/index-2024-02-19T20-12-18-0328.json
/Src/cmake-build-debug/Testing/Temporary/LastTest.log
/.idea/misc.xml
/.idea/MLImageReg.iml
/.idea/modules.xml
/Src/cmake-build-debug/CMakeFiles/rules.ninja
/Src/cmake-build-debug/.cmake/api/v1/reply/target-mainProgram-Debug-19bf5093d31c75679444.json
/Src/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/Src/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/Src/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-1a91e91f1c114e4c2010.json
/.idea/vcs.xml
